In [69]:
import pandas as pd
import numpy as np
import timeit  #* time librabry

In [70]:
df = pd.read_csv('NoteBooks/resources\week-3\datasets\census.csv')

In [71]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [72]:
New= df[df['SUMLEV'] == 50].dropna()
New.set_index(['STNAME','CTYNAME'], inplace=True)
New.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}, inplace=True)
New.head()

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7
        Blount County       50       3         6      1       9

                        CENSUS2010POP  Estimates Base 2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County          54571                54571            54660
        Baldwin County         182265               182265           183193
        Barbour County          27457                27457            27341
        Bibb County             22915                22919            22861
        Blount County           57322                57322            57373

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...
        Barbour County            27226            27159  ...
        Bibb County               22733            22642  ...
        Blount County             57711            57776  ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

In [73]:
new2 = (df.where(df['SUMLEV'] == 50)
        .dropna()
        .set_index(['STNAME', 'CTYNAME'])  # dont set inplace values
        .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

new2.head()

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County    50.0     3.0       6.0    1.0     1.0
        Baldwin County    50.0     3.0       6.0    1.0     3.0
        Barbour County    50.0     3.0       6.0    1.0     5.0
        Bibb County       50.0     3.0       6.0    1.0     7.0
        Blount County     50.0     3.0       6.0    1.0     9.0

                        CENSUS2010POP  Estimates Base 2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County        54571.0              54571.0          54660.0
        Baldwin County       182265.0             182265.0         183193.0
        Barbour County        27457.0              27457.0          27341.0
        Bibb County           22915.0              22919.0          22861.0
        Blount County         57322.0              57322.0          57373.0

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County          55253.0          55175.0  ...
        Baldwin County         186659.0         190396.0  ...
        Barbour County          27226.0          27159.0  ...
        Bibb County             22733.0          22642.0  ...
        Blount County           57711.0          57776.0  ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

In [74]:
rows = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015', ]

df.apply(lambda x: x.nunique(), axis=0)

SUMLEV            2
REGION            4
DIVISION          9
STATE            51
COUNTY          325
               ...
RNETMIG2011    3181
RNETMIG2012    3182
RNETMIG2013    3177
RNETMIG2014    3176
RNETMIG2015    3180
Length: 100, dtype: int64

In [75]:
df.apply(lambda x : np.max(x[rows]), axis=1)

0       4858979
1         55347
2        203709
3         27341
4         22861
         ...
3188      45162
3189      23125
3190      21102
3191       8545
3192       7234
Length: 3193, dtype: int64

## Groupby

In [76]:
df_50 = df[df['SUMLEV'] == 50]
df_50.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [77]:
df_50.groupby('STNAME').agg({'CENSUS2010POP': np.average}).head()

            CENSUS2010POP
STNAME
Alabama      71339.343284
Alaska       24490.724138
Arizona     426134.466667
Arkansas     38878.906667
California  642309.586207

In [78]:
for state in df['STNAME'].unique():
    avg = np.average(df_50.where(df_50['STNAME'] == state).dropna()['CENSUS2010POP'])
    print('{}: {}'.format(state, avg))

Alabama: 71339.34328358209
Alaska: 24490.724137931036
Arizona: 426134.4666666667
Arkansas: 38878.90666666667
California: 642309.5862068966
Colorado: 78581.1875
Connecticut: 446762.125
Delaware: 299311.3333333333
District of Columbia: 601723.0
Florida: 280616.5671641791
Georgia: 60928.63522012578
Hawaii: 272060.2
Idaho: 35626.86363636364
Illinois: 125790.50980392157
Indiana: 70476.10869565218
Iowa: 30771.262626262625
Kansas: 27172.55238095238
Kentucky: 36161.39166666667
Louisiana: 70833.9375
Maine: 83022.5625
Maryland: 240564.66666666666
Massachusetts: 467687.78571428574
Michigan: 119080.0
Minnesota: 60964.65517241379
Mississippi: 36186.54878048781
Missouri: 52077.62608695652
Montana: 17668.125
Nebraska: 19638.075268817203
Nevada: 158855.9411764706
New Hampshire: 131647.0
New Jersey: 418661.61904761905
New Mexico: 62399.36363636364
New York: 312550.03225806454
North Carolina: 95354.83
North Dakota: 12690.396226415094
Ohio: 131096.63636363635
Oklahoma: 48718.844155844155
Oregon: 106418.72222222222
Pennsylvania: 189587.74626865672
Rhode Island: 210513.4
South Carolina: 100551.39130434782
South Dakota: 12336.060606060606
Tennessee: 66801.1052631579
Texas: 98998.27165354331
Utah: 95306.37931034483
Vermont: 44695.78571428572
Virginia: 60111.29323308271
Washington: 172424.10256410256
West Virginia: 33690.8
Wisconsin: 78985.91666666667
Wyoming: 24505.478260869564

In [79]:
for group, frame in df_50.groupby('STNAME'):
    print('{}: {}'.format(group, np.average(frame['CENSUS2010POP'])))

Alabama: 71339.34328358209
Alaska: 24490.724137931036
Arizona: 426134.4666666667
Arkansas: 38878.90666666667
California: 642309.5862068966
Colorado: 78581.1875
Connecticut: 446762.125
Delaware: 299311.3333333333
District of Columbia: 601723.0
Florida: 280616.5671641791
Georgia: 60928.63522012578
Hawaii: 272060.2
Idaho: 35626.86363636364
Illinois: 125790.50980392157
Indiana: 70476.10869565218
Iowa: 30771.262626262625
Kansas: 27172.55238095238
Kentucky: 36161.39166666667
Louisiana: 70833.9375
Maine: 83022.5625
Maryland: 240564.66666666666
Massachusetts: 467687.78571428574
Michigan: 119080.0
Minnesota: 60964.65517241379
Mississippi: 36186.54878048781
Missouri: 52077.62608695652
Montana: 17668.125
Nebraska: 19638.075268817203
Nevada: 158855.9411764706
New Hampshire: 131647.0
New Jersey: 418661.61904761905
New Mexico: 62399.36363636364
New York: 312550.03225806454
North Carolina: 95354.83
North Dakota: 12690.396226415094
Ohio: 131096.63636363635
Oklahoma: 48718.844155844155
Oregon: 106418.72222222222
Pennsylvania: 189587.74626865672
Rhode Island: 210513.4
South Carolina: 100551.39130434782
South Dakota: 12336.060606060606
Tennessee: 66801.1052631579
Texas: 98998.27165354331
Utah: 95306.37931034483
Vermont: 44695.78571428572
Virginia: 60111.29323308271
Washington: 172424.10256410256
West Virginia: 33690.8
Wisconsin: 78985.91666666667
Wyoming: 24505.478260869564

In [80]:
grp =  df_50.groupby(['STNAME'], level= (0)).head(100)
grp.describe()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
count,3142.0,3142.000000,3142.000000,3142.000000,3142.000000,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,...,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000
mean,50.0,2.668682,5.192553,30.280076,103.572884,9.826204e+04,9.826802e+04,9.845540e+04,9.921033e+04,9.996901e+04,...,-1.670721,-2.579837,-1.321452,-2.307488,-1.384129,-0.707563,-1.520276,-0.257281,-1.100763,-0.144637
std,0.0,0.803149,1.964060,15.144339,107.704060,3.129467e+05,3.129583e+05,3.135478e+05,3.167040e+05,3.199686e+05,...,10.479885,11.948278,12.268314,11.512543,12.380406,10.681113,12.299923,12.275591,11.537218,12.339410
min,50.0,1.000000,1.000000,1.000000,1.000000,8.200000e+01,8.200000e+01,8.300000e+01,9.000000e+01,8.100000e+01,...,-128.205128,-147.727273,-109.876862,-178.947368,-84.844838,-128.205128,-147.727273,-102.988031,-178.947368,-62.322703
25%,50.0,2.000000,4.000000,18.000000,35.000000,1.111450e+04,1.111450e+04,1.108775e+04,1.108175e+04,1.101500e+04,...,-6.204546,-7.629136,-6.444499,-7.410370,-6.773510,-5.487819,-6.943265,-5.568782,-6.321287,-5.623333
50%,50.0,3.000000,5.000000,29.000000,79.000000,2.587200e+04,2.587200e+04,2.584600e+04,2.579050e+04,2.583400e+04,...,-1.605021,-2.664319,-1.857368,-2.019618,-2.046162,-0.746070,-1.676233,-0.880087,-0.990431,-0.935521
75%,50.0,3.000000,7.000000,45.000000,133.000000,6.678000e+04,6.678050e+04,6.691225e+04,6.688500e+04,6.709950e+04,...,2.909174,2.588470,3.392461,3.320646,3.792381,4.010888,3.904147,4.676683,4.544616,4.981018
max,50.0,4.000000,9.000000,56.000000,840.000000,9.818605e+06,9.818700e+06,9.826009e+06,9.896602e+06,9.970436e+06,...,101.123596,119.193807,239.130435,146.367943,281.407035,101.123596,119.861185,239.130435,146.960126,281.407035

In [81]:
df2 = pd.read_csv('NoteBooks/resources\week-3\datasets\listings.csv')
df2.head(1)
print(df2['cancellation_policy'].unique())
print(df2['review_scores_value'].unique())

['moderate' 'flexible' 'strict' 'super_strict_30']
[nan  9. 10.  6.  8.  7.  2.  4.  3.  5.]

In [82]:
df2 = df2.set_index(['cancellation_policy', 'review_scores_value'])

In [83]:
for group, frame in df2.groupby(level=(0, 1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [84]:
def grouping_tens(item):
    if item[1] == 10.0:
        return (item[0], "10.0")
    else:
        return (item[0], "Not 10.0")
    
for group, frame in df2.groupby(by= grouping_tens):
    print(group)

('flexible', '10.0')
('flexible', 'Not 10.0')
('moderate', '10.0')
('moderate', 'Not 10.0')
('strict', '10.0')
('strict', 'Not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'Not 10.0')

In [85]:
def felx_only(item):
    if item[0] == 'flexible':
        return (item[1], "flexible")
    
for group, frame in df2.groupby(by= felx_only):
    print(group)

(9.0, 'flexible')
(10.0, 'flexible')
(nan, 'flexible')
(2.0, 'flexible')
(4.0, 'flexible')
(5.0, 'flexible')
(6.0, 'flexible')
(7.0, 'flexible')
(8.0, 'flexible')

## Aggregation

In [86]:
df2 = df2.reset_index()

df2.groupby('cancellation_policy').agg({'review_scores_value': np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [87]:
df2.groupby('cancellation_policy').agg({'review_scores_value': np.nanmean})
#* nanmean is the average of the non-null values

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [88]:
df2.groupby('cancellation_policy').agg({'review_scores_value': (np.nanmean,np.nanstd),'reviews_per_month': np.nanmean})

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

## Transforms  - Redo

In [89]:
df2.reset_index()
cols = ['cancellation_policy', 'review_scores_value']
tranform_df =df2[cols].groupby('cancellation_policy').transform(np.nanmean)
tranform_df.head()

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

## Filtering

In [94]:
df2.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value']) > 9.2).head(   )

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,review_scores_communication,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,NaN,NaN,f,NaN,NaN,f,f,f,1,NaN
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,10.0,9.0,f,NaN,NaN,t,f,f,1,1.30
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,10.0,9.0,f,NaN,NaN,f,t,f,1,0.47
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,10.0,10.0,f,NaN,NaN,f,f,f,1,1.00
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,10.0,9.0,f,NaN,NaN,f,f,f,1,2.25

## Applying

In [99]:
df = pd.read_csv('NoteBooks/resources\week-3\datasets\listings.csv')
df = df[['cancellation_policy', 'review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [112]:
def normalize(group):
    avg = np.nanmean(group['review_scores_value'])
    group['normalized_review_score'] = np.absolute(avg- group['review_scores_value'])
    return group
    
    #* mean of the group - moderate , flexible etc..

In [122]:
df.groupby('cancellation_policy').apply(normalize).dropna().head().drop('Normalized_scire', axis=1)

  cancellation_policy  review_scores_value  normalized_review_score
1            moderate                  9.0                 0.307398
2            moderate                 10.0                 0.692602
3            moderate                 10.0                 0.692602
4            flexible                 10.0                 0.762579
5            flexible                 10.0                 0.762579

In [125]:
df['Normalized_score'] = df['review_scores_value'].apply(lambda x: np.absolute(np.nanmean(df['review_scores_value']) - x))

df[['cancellation_policy', 'review_scores_value', 'Normalized_score']].dropna().head()

#* total mean of all groups

  cancellation_policy  review_scores_value  Normalized_score
1            moderate                  9.0          0.168234
2            moderate                 10.0          0.831766
3            moderate                 10.0          0.831766
4            flexible                 10.0          0.831766
5            flexible                 10.0          0.831766